<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>The Total no. of Users are: <a href="/user"><%= total %></a> </h2>
    <form action="/user/newuser">
        <button>Join Us today!</button>
    </form>
    
</body>
</html>